<!--register -->

{% extends 'base.html' %}

{% block content%}

<div class="jumbotron">
	<h1>Please register:</h1>
	<form method="POST">
	{{ form.hidden_tag()}}
	<div>{{form.username.label}}  {{form.username(required=False)}}
		{% for error in form.username.errors %}
			<ul>
				<span class="alert alert-warning" role="alert">*{{ error }}</span>
			</ul>
		{% endfor %}
	</div>
	<div>{{form.password.label}} {{form.password(required=False)}}
		{% for error in form.password.errors %}
			<ul>
				<span class="alert alert-warning" role="alert">*{{ error }}</span>
			</ul>
		{% endfor %}
	</div>
	<div>{{form.password_confirm.label}} {{form.password_confirm(required=False)}}
		{% for error in form.password_confirm.errors %}
			<ul>
				<span class="alert alert-warning" role="alert">*{{ error }}</span>
			</ul>
		{% endfor %}
	</div>
	{{form.submit}}
	</form>
</div>

{% endblock %}